/* FOOTER */

//MIXING
@mixin tamaño ($ancho, $alto) {

    width: $ancho;
    height: $alto;
    
}
//Fin mixing

//Maps-get

$secundario: map-get($paleta, secundario);
$primario: map-get($paleta, primario);


footer {
    width: 100%;
    background-color: $secundario;
    color: $primario;

    .container-footer-all {
        
        margin: auto;
        padding: 30px;

        .container-body {
            display: flex;
            justify-content: space-between;


            .column1 {
                max-width: 600px;


                .hilera {
                    margin-top: 20px;
                    display: flex;

                    .fa-instagram {
                        font-size: 15px;
                    }
                    
                    .fa-facebook-square {
                        @extend .fa-instagram ;
                    }
                    
                    .fa-twitter-square {
                        font-size: 15px ;
                    }
                }
                
                .hilera img {
                    @include tamaño (36px, 36px)
                }
                
                .hilera label {
                    margin-top: 0px;
                    color: $blanco;
                    font-size: 13px;
                
                }
                
                .hilera label a:hover {
                    color: $amarillo;
                
                }
            
            }
            
            .column1 h4 {
                font-size: 13px;
                color: $blanco;
            }

            .column2 {
                max-width: 600px;


                .row2 {
                    margin-top: 20px;
                    display: flex;

                    .row2 img {
                        @include tamaño (36px, 36px)
                    }

                    .row2 label {
                        margin-left: 20px;
                        margin-top: 0px;
                        max-width: 250px;
                        font-size: 13px;
                    
                    }

                    .fa-location-arrow {
                        font-size: 15px ;
                    }
                    
                    .fa-phone {
                        font-size: 15px ;
                    }
                    
                    .fa-envelope {
                        font-size: 15px ;
                    }
                }


            
            }
            
            .column2 h4 {
                font-size: 13px;
            }





        }

        .container-body a,
        label {
            color: $blanco;
        }
    }
}


/* FINN */
